body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
    z-index: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    margin: 20px;
    flex: 1;
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

body.contact {
    background-color: #e6e6e6;
}

section.main-content form {
    padding: 20px;
}

section.main-content form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

section.main-content form input,
section.main-content form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section.main-content form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

section.main-content form button:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    section.main-content form {
        width: 100%;
    }
}

body.about,
body.categories {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section.main-content article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.main-content article h2 {
    color: #333;
}

section.main-content article p.meta {
    font-style: italic;
    color: #555;
}

section.main-content article p {
    color: #333;
}

section.main-content article ul {
    list-style: none;
    padding: 0;
}

section.main-content article ul li {
    margin-bottom: 10px;
}

section.main-content article ul li a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

section.main-content article ul li a:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    section.main-content article ul li {
        display: block;
    }
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    width: 33%;
    position: relative;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

.search-container button i {
    font-size: 16px;
}

.search-container button:hover {
    background-color: #555;
}

/* Profile Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
    height: 100%;
}

.dropbtn {
    color: #fff;
    font-size: 16px;
    border: none;
    background-color: #444;
    cursor: pointer;
    height: 100%;
    padding-bottom: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    margin: 8px 50px 0 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 100%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section.main-content.profile {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.profile-info {
    flex: .5;
    margin-right: 20px;
}

.avatar-container img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.user-info h2 {
    color: #333;
    margin-bottom: 8px;
}

.user-info p {
    color: #555;
}

.user-rating {
    color: #007BFF;
    font-size: 18px;
}

.user-activity {
    flex: 4;
    position: relative;
    padding-left: 20px;
}

.user-activity::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.user-activity h3 {
    color: #333;
}

.user-activity ul {
    list-style: none;
    padding: 0;
}

.user-activity ul li {
    margin-bottom: 10px;
}

.user-activity ul li a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

.user-activity ul li a:hover {
    color: #0056b3;
}

@media (max-width: 600px) {
    section.main-content.profile {
        flex-direction: column;
    }

    .profile-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .avatar-container img {
        width: 100px;
        height: 100px;
    }

    .user-activity {
        padding-left: 0;
    }

    .user-activity::before {
        display: none;
    }
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.comments h3 {
    color: #333;
    margin-bottom: 20px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}

.comment-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.comment p.meta {
    font-style: italic;
    color: #555;
}

.comment p {
    color: #333;
}

.post-detail .content {
    margin-top: 20px;
}

@media (max-width: 600px) {
    article {
        margin: 10px;
    }

    .comments {
        padding: 10px;
    }
}

#read-more {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#read-more:hover {
    background-color: #555;
}

.snow{
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    animation: snowfall 10s linear;
}

@keyframes snowfall {
    0%{
        opacity: 0;
        top: 0;
        transform: translateX(-5px);
    }
    10%{
        opacity: 1;
        transform: translateX(-5px);
    }
    20%{
        opacity: 0;
        transform: translateX(-5px);
    }
    30%{
        opacity: 0;
        transform: translateX(-5px);
    }
    40%{
        opacity: 0;
        transform: translateX(-5px);
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 100%;
    }
}