{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>Your Blog</title>
</head>
<body>
    <header>
        <h1>Your Blog</h1>
        <p>Welcome to your blog!</p>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            {% if user.is_authenticated %}
                 <li class="dropdown">
                    <a href="#" class="dropbtn">Greeting, {{ user.username }}</a>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li><a href="/login/"><span class="icon"><i class="fas fa-user"></i></span> Log In </a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2023 Your Blog. All rights reserved.</p>
    </footer>
</body>
</html>
