{% extends 'base.html' %}
    {% block content %}
        <section class="main-content">
        {% include 'search.html' with posts=posts %}
            {% for post in posts %}
            <article>
                <h2>{{ post.title }}</h2>
                <p class="meta">Posted on <time datetime="{{ post.pub_date }}">{{ post.pub_date }}</time> by {{ post.author }}</p>
                <p>{{ post.content }}</p>
                <p><a href="{% url 'post_detail' pk=post.pk %}">Read Full</a></p>
            </article>
            {% endfor %}
        {% include 'pagination.html' with page=posts %}
        </section>
    {% endblock %}